/build
build/esp32.esp32.esp32s3/LPOVXLM.ino.elf
build/esp32.esp32.esp32s3/LPOVXLM.ino.map
build/esp32.esp32.esp32s3/LPOVXLM.ino.merged.bin
build/esp32.esp32.esp32s3/LPOVXLM.ino.bootloader.bin
build/esp32.esp32.esp32s3/LPOVXLM.ino.partitions.bin
